body {  
    background-size: auto 100vh;
    background-image:
    url(https://images.unsplash.com/photo-1513366208864-87536b8bd7b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    font-family: sans-serif;
    height: 100vh;
  }
  
  .menu {
    background-color: #F9f9f9; 
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-between; 
  }
  
  a {
    color: black;
    text-decoration: none;
    }
  a:hover {
    text-decoration: underline;  
  }
  
  
  .site-subtitle,
  .site-title {
    color: #0f4c81;
    text-align: center;
    }
  
